@model IEnumerable<OA_Library.Models.IssueBookTable>

@{
    ViewBag.Title = "Issue Books";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Issue Books</h6>
        <h4 class=" text-danger">@ViewBag.Message</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>
                            Book Title
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Issue Copies
                        </th>
                        <th>
                            Issue Date
                        </th>
                        <th>
                            Return Date
                        </th>

                        <th>
                            Description
                        </th>
                        <th>
                            Status
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.ReserveNoOfCopies)
                        </th>*@

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserTable.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookTable.BookTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeTable.FullName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IssueCopies)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Status)*@
                            <p class="text-success" style="font: bold">Issue</p>
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.ReserveNoOfCopies)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td>
                            @Html.ActionLink("Return Book", "BookReturn", new { id = item.IssueBookID }, new { @class = "btn btn-primary" })

                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

